{% extends 'base.html.twig' %}

{% block title %}Edit Profil{% endblock %}

{% block body %}
    <h1>Edit Profil</h1>

    {{ include('profil_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profil_crud_index') }}">back to list</a>

    {{ include('profil_crud/_delete_form.html.twig') }}
{% endblock %}
