{% extends 'base.html.twig' %}

{% block title %}New Profil{% endblock %}

{% block body %}
    <h1>Create new Profil</h1>

    {{ include('profil_crud/_form.html.twig') }}

    <a href="{{ path('app_profil_crud_index') }}">back to list</a>
{% endblock %}
