 /* Content styling */
 .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Table styling */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #4285f4;
    color: #fff;
  }
  
  /* Form styling */
  form {
    margin-top: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  form button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }

  * {
    margin: 0;
    padding: 10px;
    outline: 0;
    box-sizing: border-box;
  }
  
  body {
   background: white;
   color: black;
   -webkit-font-smoothing: antialiased;
  }
  
  body, input, button {
   font-size: 1vw;
   font-family: Arial, Helvetica, sans-serif;
  }
  
  button {
   cursor: pointer;
  }

  td img{
    width: 100px;
    height: auto;
  }
  
  .content{
    padding: 1vh;
  }


.crud-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.crud-menu li {
  margin-bottom: 10px;
}

.crud-link {
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  background-color: #4285f4;
  color: #fff;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.crud-link:hover {
  background-color: #555;
}